<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container">
    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <form method="post">
                <select name="table">
                    <option value="accelerometer">accelerometer</option>
                    <option value="app">app</option>
                    <option value="calls">calls</option>
                    <option value="cellular">cellular</option>
                    <option value="device">device</option>
                    <option value="loc">loc</option>
                    <option value="mood">mood</option>
                    <option value="network">network</option>
                    <option value="screen">screen</option>
                    <option value="sms">sms</option>
                    <option value="steps">steps</option>
                    <option value="web">web</option>
                    <option value="wifi">wifi</option>
                </select>
                <input name="uuid" type="text" placeholder="optional uuid">
                <input class="btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>
